#---------------------------------------------------------------------------------#
#  database　Config
# 	db.ds : datasource list, use the ',' split
#  	db.*.active:ture, use db;
# 	db.*.url: db url;
# 	db.*.user: db username;
# 	db.*.password.pkey: db password public key
# 	db.*.password: db password, 
#	use `java -cp druid-xx.jar com.alibaba.druid.filter.config.ConfigTools your_password`
#	generate your encrypt password, default password 'admin' by druid-1.1.10.jar;
# 	db.*.initsize: db pool init size;
# 	db.*.maxactive: db pool maxactive;
# 	db.showsql: ture, show execute sql;
#---------------------------------------------------------------------------------#
db.ds = mysql
db.mysql.active = true
db.mysql.url = localhost/zcq
db.mysql.user = 
db.mysql.password.pkey = MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAJbIzkTcjrlDwB3vdc6gKwJ5gAMGRazWOrOeuMCxI2Lb7n/d4DoBySUdM+7HT6Gkfbfz6BM1o/2Gp0PkhkEHAx8CAwEAAQ==
db.mysql.password = TVL59a5MXxM3EB7Ylzf8idFijFX97+ZRxZG+2PpkR4pPCQ5TLtZAok88IGW05CxRvC56ekO++yWhepAEL118lw==
db.mysql.initsize = 10
db.mysql.maxactive = 100
db.showsql = true
#---------------------------------------------------------------------------------#
# Redis conf
# redis.cs : redis caches, use the ',' split
# redis.*.active: true, use redis
# redis.*.host: host
# redis.*.port: port
# redis.*.password: password
# redis.*.tables: save to redis.*.'s tables
#---------------------------------------------------------------------------------#
redis.cs=mainCache
redis.mainCache.active=true
redis.mainCache.host=localhost
redis.mainCache.port=6379
redis.mainCache.password=
redis.mainCache.tables=user,hello
#---------------------------------------------------------------------------------#
# Generator Config
# ->. ge.dict: true, generate the data dict;
# ->. ge.model.dao: true, generate the model instance;
# ->. ge.mappingkit.classname: set mappingkit class name, default `_MappingKit`;
# ->. ge.base.model.outdir: the basemodel output dir path;
# ->. ge.base.model.package: the basemodel package;
# ->. ge.model.outdir: the model output dir path;
# ->. ge.model.package: the model package;
#---------------------------------------------------------------------------------#
ge.dict=true
ge.model.dao=true
ge.mappingkit.classname=_MappingKit
ge.base.model.outdir=
ge.base.model.package=
ge.model.outdir=
ge.model.package=
#---------------------------------------------------------------------------------#
## App Config
# ->. app.dev: true, the app is debug mode;
# ->. app.post: ture, use Http Post method;
# ->. app.name: app's name;
#---------------------------------------------------------------------------------#
app.dev = true
app.post = true
app.name = 